/*!20120715 modified by yan;originally created by rayzou */
html,body,h1,h2,h3,h4,p,div,strong,span,b,a,img,table,tr,th,ul,ol,li {
	margin: 0; 
	padding: 0;
}
body {
	background: #FFF;
	color: #000;
	margin: 0;
	padding: 0 15px;
	font-family: 'Arial' , '宋体';
	font-size:13px;
	line-height:1.5;
}
a {
	color: #000080;
}
a:visited {
	color: #660066;
}
a.active {
	color: red;
	font-weight: bold;
}
img { 
	border: 0;
}
.clear {
	clear: both;
}
.hl {
	color: red;
}

#header {
	height: 90px;
}
#header .lang{
	width: 165px;
	text-align: center;
	vertical-align: middle;
	float: left;
	padding-top: 35px;
}
#header .logo{
	width: 80%;
}
	
#footer {
	margin-top: 10px;
}

#sidebar {
	width: 150px;
	float: left;
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
}

#sidebar h2 {
	background: #eeeeee;
	font-size: 16px;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	padding-left: 5px;
	height:24px;
	line-height:24px;
	margin: 0;
}

#sidebar .content {
	list-style: none;
	margin: 10px 10px;
}

#main {
	padding-left: 165px;
	margin-bottom:10px;
}

h2 {
	margin:20px 0;
	font-weight: bold;
	font-size: 18px;
}

h3 {
	font-weight: bold;
	font-size: 16px;
	margin: 20px 0;
}
p {
	margin-bottom:5px;
}
ul,ol{
	margin:0 0 5px 20px;
}
.news {
	list-style: none;
	margin-left: 0;
	font-weight:bold;
}
.tc-features {
	margin-left:40px;
}
.toc {
	margin-left:40px;
}
.toc a:visited {
	color:#000080;
}
table {
	border-collapse:collapse;
}
.grid {
	background: #DFDFDF;
	border: 1px solid #474747;
	border-width:1px 0 0 1px;
	width: 100%;
	text-align: left;
	margin-bottom:5px;
}
.grid td , .grid th {
	border:1px solid #474747;
	border-width:0 1px 1px 0;
	padding:2px;
}
.grid th {
	height:30px;
}
.grid td {
	vertical-align: top;
}
.bitsep {
	width:70px;
}
.android-features td {
	width:50%;
}
.ce-grid {
	text-align:center;
	background:#fff;
}

